:root {
  --accent-color: #2e2f42;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}
/* header styling */
.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  color: #4d5ae5;
  list-style-type: none;
  letter-spacing: 0.03em;
}
.logo-studio-header {
  color: #2e2f42;
}

.nav-list-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav-list-item:hover:focus,
.contact-list-item:hover:focus {
  color: #404bbf;
}

.contact-list-item {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.addr {
  font-style: normal;
}
/* main styling index*/
/*section 1 index*/
.solutions {
  background-color: var(--accent-color);
}
.solutions-title {
  font-size: 56px;
  line-height: 1.07;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.02em;
}
.solutions-button {
  color: #ffffff;
  background-color: #4d5ae5;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: 0px;
  cursor: pointer;
}
.solutions-button:hover:focus {
  background-color: #404bbf;
}
/*section 2 index*/

.values {
}
.values-title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.values-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*section 3 index*/
.what-we-do-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.pic-what-we-do {
}
/*section 4 index*/
.team {
  background-color: #f4f4fd;
}
.team-card {
  background-color: #ffffff;
}
.pic-team {
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.team-position {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #434455;
}
/* footer */
.bottom {
  background-color: var(--accent-color);
}
.logo-studio-footer {
  color: #f4f4fd;
}
.bottom-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
/* main styling portfolio */

.portfolio-button {
  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  cursor: pointer;
}

.portfolio-button:hover:focus {
  background-color: #404bbf;
  color: #ffffff;
}
.portfolio-list-item {
}
