:root {
  --main-color: #000000;
  --accent-color: #2e2f42;
}
body {
  font-family: "roboto", sans-serif;
  background-color: #ffffff;
  color: var(--main-color);
}

.nav-list,
.contact-list,
.values-list,
.what-we-do-list,
.team-list,
.portfolio-buttons-list,
.portfolio-list {
  list-style-type: none;
}

/* header styling */
.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  text-transform: uppercase;
  color: #4d5ae5;
  list-style-type: none;
  text-decoration: none;
}
.logo-studio-header {
  color: var(--main-color);
}

.nav-list-item {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav-list-item:hover,
.nav-list-item:active,
.contact-list-item:hover {
  color: #4d5ae5;
}

.contact-list-item {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* main styling index*/
/*section 1 index*/
.solutions {
  background-color: var(--accent-color);
}
.solutions-title {
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.02em;
}
.solutions-button {
  color: #ffffff;
  background-color: #4d5ae5;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  border: 0px;
  cursor: pointer;
}

/*section 2 index*/

.values {
}
.values-title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.values-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*section 3 index*/
.what-we-do-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.pic-what-we-do {
}
/*section 4 index*/
.team {
  background-color: #f4f4fd;
}
.pic-team {
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.team-position {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #434455;
}
/* footer */
.bottom {
  background-color: var(--accent-color);
}
.logo-studio-footer {
  color: #f4f4fd;
}
.bottom-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
/* main styling portfolio */

.portfolio-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  width: 78px;
  height: 48px;
  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
}

.portfolio-button:hover {
  background: #404bbf;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffff;
  cursor: pointer;
}
.portfolio-list-item {
}
